:root {
--primary-color: white;
--navy-blue: #2e2f42; 
--second-family: "Raleway";
--iris:#4D5AE5;
--ocean:#404BBF;
--cloud: #f4f4fd;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
}

header {
    display: flex;
}

.web {
    font-family: var(--second-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
}

.studio {
    font-family: var(--second-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navy-blue);
}

nav li {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

nav li a:hover {
    color: var(--ocean);
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

ul {
    display: flex;
}
 
.email {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.email:hover {
    color: var(--ocean);
}

.phone {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.phone:hover {
    color: var(--ocean);
}

.hero-section {
    background-color: #2E2F42;
}

.hero-section h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}

.hero-section button {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #ffffff;
    background: var(--iris);
}

.hero-section button:hover {
    background: var(--ocean);
}

.section-1 h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.section-1 p {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

.section-2 h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--navy-blue);
} 

.section-3 {
    background: var(--cloud);
}

.section-3 h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--navy-blue);
}

.section-3 h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
}

.section-3 p {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
}

footer {
    background: var(--navy-blue);
}

footer p {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--cloud);
}

.studio-footer {
    font-family: var(--second-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cloud);
}


/* Portfoliu page*/

.filters button {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--iris);
    background: var(--cloud);
}

.filters button:active {
    background: var(--ocean);
    color: #ffffff;
}


.main h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    font-family: "Roboto", sans-serif;
}

.main p {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

